<div>
	<h2>Ils nous font confiance</h2>
	<div class="d-flex justify-content-between align-items-center mt-5">
		<div id="slide-left">
			<svg width="25px" height="25px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/>
			</svg>
		</div>
		<div class="d-flex w-75">
			<div id="sponsors-wrapper">
			{% for sponsor in sponsors %}
				<img src="{{ sponsor.logo }}" width="140px" alt="Logo de {{ sponsor.name }}"/>
			{% endfor %}
			</div>
		</div>
		<div id="slide-right">
			<svg width="25px" height="25px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
			</svg>
		</div>
	</div>
</div>
