{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' | Incription' }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="font-title my-4">Inscription</h1>
    <div class="w-50">
    {{ form_start(registrationForm)}}
    {{ form_widget(registrationForm) }}
        <button type="submit" class="btn rounded bg-primary text-light py-2 px-4 mt-4">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
    
</div>
   
{% endblock %}
