{% extends 'dashboard_layout.html.twig' %}

{% block title %}
{{ parent() ~ ' | Modification d\'une offre' }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10">
                <h1>Modification de l'offre</h1>

                {{ include('offer/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            </div>
        </div>
    </div>
{% endblock %}
