{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' | ' ~ offer.title }}
{% endblock %}

{% block body %}
	<h1 class="d-none">Offre</h1>
	<div class="container p-4">
        {% include 'component/offerShow.html.twig' %}
    </div>
{% endblock %}