{% extends 'base.html.twig' %}

{% block title %}
{{ parent() ~ ' | Réinitialisation du mot de passe' }}
{% endblock %}

{% block content %}
    <div class="form-container">
    <h1>Réinitialisation du mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialisater</button>
    {{ form_end(resetForm) }}
    </div>
{% endblock %}
