{% extends 'dashboard_layout.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Mon CV' }}
{% endblock %}

{% block sideNav %}
	{% include './component/_sideBar_dashboard.html.twig' %}
{% endblock %}


{% block content %}
	<section>

	</section>
{% endblock %}
