$profilPictureDiameter: 100px;

.profilPicture {
    height: $profilPictureDiameter;
    width: $profilPictureDiameter;
    object-fit: cover;
}

.experiencePeriode {
    font-size: smaller;
    color: grey;
}

.title-profil {
    color: $primary;
}
.download-avatar, .form-check-label {
    font-size: 0.8rem;
}

