@use 'root' as r;


$profilPictureDiameter: 100px;
$intermediate: grey;

.profilPicture {
    height: $profilPictureDiameter;
    width: $profilPictureDiameter;
    object-fit: cover;
}

.experiencePeriode {
    font-size: smaller;
    color: $intermediate;
}

.download-avatar, .form-check-label {
    font-size: 0.8rem;
}

