@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 $font-title: 'Montserrat', sans-serif;
 $font-subtitle: 'Comfortaa', cursive;
 $font-body: 'Poppins', sans-serif;

 $primary: #851342;
 $secondary: #CA2262;
 $terciary: #0EA7C9;
 $light: #FFF;
 $dark: #333;

 $border-radius: 20px;
 $btn-border-radius: $border-radius;
 $btn-padding-y: 0.7rem;
 $btn-padding-x: 2rem;

 $dashboard-side-nav-gradient: linear-gradient(180.27deg, rgba(203, 238, 244, 0.81) 0.19%, rgba(14, 167, 201, 0) 99.72%);
 $dashboard-content-gradient: linear-gradient(195.77deg, rgba(148, 224, 238, 0.2) 0.11%, rgba(47, 106, 119, 0) 81.67%);

 body {
     font-family: $font-body;
     font-size: 1.4rem;
 }
 .dashboard-side-gradient{
   background: $dashboard-side-nav-gradient;
 }
 .dashboard-content-gradient{
   background: $dashboard-content-gradient;
 }
 .font-title {
    font-family: $font-title;
 }
 .font-subtitle {
    font-family: $font-subtitle;
 }
 .font-body {
    font-family: $font-body;
 }

 .rounded {
    border-radius: $border-radius;
 }

 @import "~bootstrap/scss/bootstrap";