@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-title: "Montserrat", sans-serif;
$font-subtitle: "Comfortaa", cursive;
$font-body: "Poppins", sans-serif;

$primary: #851342;
$secondary: #ca2262;

$light: #fff;
$dark: #333;
$danger: #ba1a1a;
$success: #C2FBBF;

$tertiary: #8b92e9;
$quaternary: #ffdbc8;
$background-light: #fffdff;
$background-dark: #201a1b;
$container-primary: #ffeff3;
$container-secondary: #0F697D;
$container-tertiary: #7D0935;
$grey-dark: #847376;

$theme-colors: (
    "primary" : $primary,
    "secondary" : $secondary,
    "tertiary" : $tertiary,
    "quaternary" : $quaternary,
    "light" : $light,
    "dark" : $dark,
    "danger" : $danger,
    "success":  $success,
    "background-light" : $background-light,
    "background-dark" : $background-dark,
    "container-primary" : $container-primary,
    "container-secondary" : $container-secondary,
    "container-tertiary" : $container-tertiary
);

$border-radius: 16px;
$border-radius-input: 6px;
$btn-border-radius: calc($border-radius / 2);
$btn-padding-y: 0.7rem;
$btn-padding-x: 2rem;
$box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;

$dashboard-min-height: 500px;
$navbar-height: 5rem;

$font-size-card: 2rem;
$color-background-start: #e9eef3;
$color-background-end: rgba(227, 233, 239, 0);
$background-gradient: linear-gradient(
    180deg,
    $color-background-start 0%,
    $color-background-end 100%
);
