@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-title: "Montserrat", sans-serif;
$font-subtitle: "Comfortaa", cursive;
$font-body: "Poppins", sans-serif;

$primary: #851342;
$secondary: #ca2262;
$terciary: #0ea7c9;
$light: #fff;
$dark: #333;

$border-radius: 16px;
$btn-border-radius: $border-radius;
$btn-padding-y: 0.7rem;
$btn-padding-x: 2rem;

$dashboard-min-height: 500px;
$navbar-height: 5rem;

$font-size-card: 2rem;
$color-background-start: #e9eef3;
$color-background-end: rgba(227, 233, 239, 0);
$background-gradient: linear-gradient(
    180deg,
    $color-background-start 0%,
    $color-background-end 100%
);
