@use "profil";
@import "root";
@import "~bootstrap/scss/bootstrap";

footer {
    .container {
        padding-block: 2vw;
    }
    ul {
        list-style-type: none;
    }
}

.font-title {
    font-family: $font-title;
}
.font-subtitle {
    font-family: $font-subtitle;
}
.font-body {
    font-family: $font-body;
}

.rounded {
    border-radius: $border-radius;
}
.badge {
    font-size: 0.8rem;
}

label {
    font-family: $font-subtitle;
}

.form-control, .form-select {
    border-radius: $border-radius-input;
}

body {
    font-family: $font-body;
    font-weight: 300;
}
.nav-bar-avatar {
    object-fit: cover;
    border-radius: 50%;
}
.account-container {
    font-size: 1rem;
}
.form-container {
    max-width: 650px;
    margin: auto;
}
.outline-custom {
    border: 2px solid $grey-dark;
}
.box-shadow {
    box-shadow: $box-shadow;
}
#map {
    aspect-ratio: 1/1;
}


@media screen and (min-width: 576px){
    .w-sm-25 {
        width:25% !important; 
    }
    
}