@use 'root' as r;


.card-background {
    background: r.$background-gradient ;
    border-radius: r.$border-radius;
    min-width: 200px;
}

.card-offer-title {     
    font-family: r.$font-body;
    font-style: normal;
    font-weight: 700;
    font-size: r.$font-size-card;
}