@import 'root';

$dashboard-padding: 2rem;

.dashboard-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100vh;
    min-height: 400px;
}
.dashboard-nav-container{
    padding:$dashboard-padding 0 $dashboard-padding 0;
    height: 100%;
    z-index: 2;
    position: relative;

    .dashboard-nav-wrapper{
        background-color: $secondary;
        border-radius: 0 $border-radius $border-radius 0;
        height: 100%;
        width: 100%;
        overflow-y: scroll;

        hr {
            color: $light;
        }
    }

    .dashboard-nav-open{
        width: 95vw;
    }
}

.dashboard-mobile{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc($dashboard-padding + .5rem);
    right: 0;
    transform: translateX(40%);

    background-color: $primary;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dashboard-mobile-open{
    transform: rotate(180deg) translateX(-40%);
    transform: transform .3s ease-in;
}

.dashboard-content{
   height: 100vh;
   overflow-y: scroll;
}
.dashboard-nav{
    height: 100vh;
    overflow-y: scroll;
}
.dashboard-menu-link{
    width: 100%;
    max-width: 260px;

    font-family: $font-subtitle;
}
.dashboard-mini-link{
    font-size: 0.5rem;
    text-decoration: none;
    color: $light;

    &:hover{
        color:$dark;
    }
}
.dashboard-link-title{
    display: none;
    font-size: 0.8rem;
}

@media screen and (min-width:768px) {
    .dashboard-container{
        grid-template-columns: 1fr 5fr;
    }
    .dashboard-link-title{
        display: block;
    }
    .dashboard-mobile{
        display: none;
    }
}