@use 'root' as r;

.home-search-section {
    height: calc(100vh - r.$navbar-height);
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    min-height: 500px;
}
.youtube-video {
    width: 80%;
    aspect-ratio: 16/9;
}

#sponsors-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 2rem;
    flex-basis: fit-content;
    overflow-x: scroll;
    scroll-behavior: smooth;
    user-select: none;
}

#slide-left {
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}
#slide-right {
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}
