{% extends 'base.html.twig' %}

{% block title %}New Company
{% endblock %}

{% block body %}
	<h1>Création d'une entreprise</h1>

	<div class="mt-5 form-container">
		{{ include('company/_form.html.twig') }}
	</div>

{% endblock %}
