{% extends 'dashboard_layout.html.twig' %}
{% block sideNav %}
	{% include './component/_sideBar_dashboard.html.twig' %}
{% endblock %}
{% block title %}
	{{ parent() ~ ' | Edition profil' }}
{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('previewAvatar') }}
	{% endblock %}

{% block content %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10">
				<h1>Edition du profil</h1>


				{{ include('candidate/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


			</div>
		</div>
	</div>

{% endblock %}
