{% extends 'dashboard_layout.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Profil' }}
{% endblock %}

{% block sideNav %}
	{% include './component/_sideBar_dashboard.html.twig' %}
{% endblock %}


{% block content %}
	<div class="my-4 px-2 dashboard-content-gradient rounded">

				{% include "candidate/_profil.html.twig" %}

				{% include "experience/_index.html.twig" %}

				{% include "education/_index.html.twig" %}

			</div>
{% endblock %}
