{% extends 'dashboard_layout.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Profil' }}
{% endblock %}

{% block sideNav %}
	{% include './component/_sideBar_dashboard.html.twig' %}
{% endblock %}


{% block content %}
	<section>
		{% include "candidate/_profil.html.twig" %}
	</section>
	<section class="mt-4">
		{% include "experience/_index.html.twig" %}
	</section>
	<section class="mt-4">
		{% include "education/_index.html.twig" %}
	</section>

{% endblock %}
